.container {
  margin: auto;
  height: 70vh;
  max-width: 70%;
  border: 5px ridge rgb(99, 99, 158);
  transition: all 0.3s ease-in;
}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 0.75rem;
  justify-content: flex-start;
}

.full {
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
}

.form input {
  width: 70%;
  outline: none;
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  margin: 1rem;
  margin-top: 0;
  transition: all 0.3s ease-in;
  font-weight: bold;
  color: rgb(138, 71, 40);
}

.form label {
  padding-bottom: 0;
}

.link {
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.link:hover {
  text-decoration: underline;
}
