body {
  background-color: blue; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #1c87c9, #8ebf42);
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: bold;
  color:rgb(36, 100, 36);
  font-size: large;
}


